<html>
<head>
  <title>Confirmação de pagamento de inscrição!</title>
  <meta charset=“UTF-8”>
</head>
<body>
  <h1>Confirmação de pagamento de inscrição!</h1>
  <p>Olá <%= person["name"] %>, sua inscrição foi confirmada com sucesso.</p>
  <p>Você está inscrito nos seguintes minicursos:</p>
  <ul>
    <% person["courses"].each do |k| %>
      <li><%= k["name"] %></li>
    <% end %>
  </ul>
  <p>Esperamos você no Encomp nos dias 20, 21, 22, 23 de setembro. Aproveite!</p>

  <p>Para quaisquer dúvidas ou problemas entrem em contato através do email: contato@encomp.com.br</p>
</body>
</html>
