<html>
<head>
  <title><%= @title %></title>
  <meta charset=“UTF-8”>
</head>
<body>
  <h1><%= @title %> </h1>
  <p>Olá <%= @user.name %>, a equipe do Encomp tem uma mensagem para você:</p>
  <hr />


  <div class="body">
    <%= simple_format(@body) %>
  </div>

  <hr />
  <p>Para quaisquer dúvidas ou problemas entrem em contato através do email: contato@encomp.com.br</p>
</body>
</html>
